:root{
    /* Background/foreground colors */
    --bg-color: #eeeded;
    --fg-color: beige;

    /* Text colors and shadows */
    --lt-blue: #4a8cff;
    --lt-red: #ff3e3e;
    --txt-shd: -2px 2px 4px rgba(0,0,0,.25);
}