/* Main container for header component */
header{
    background-color: beige;
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
    box-shadow: 0 4px 6px -1px #0003;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Header link container */
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1em;
    width: fit-content;
    text-decoration: none;
    font-style: italic;
}

/* Header image */
header a img{
    width: 80px;
}

/* Header text */
header a h1{
    color: #4a8cff;
    text-shadow: -2px 2px 4px rgba(0,0,0,.25);
}

/* Header text span */
header a h1 span{
    color: #ff3e3e;
}