/* Main container for header component */
header{
    background-color: var(--fg-color);
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
    box-shadow: 0 4px 6px -1px #0003;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Header link container */
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1em;
    width: fit-content;
    text-decoration: none;
    font-style: italic;
}

/* Header image */
header a img{
    width: 80px;
}

/* Header text */
header a h1{
    color: var(--lt-blue);
    text-shadow: var(--txt-shd);
}

/* Header text span */
header a h1 span{
    color: var(--lt-red);
}